<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<!--{include(pe_tpl('header_n.html'));}--> 

	<body class="i-body">
		<!--{include(pe_tpl('menu3.html'));}-->
		<!--{include(pe_tpl('lang_n.html'));}--> 	
	
	<header class="mui-bar mui-bar-nav i-header-bar">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="user.php?mod=market"></a>
		<h1 class="mui-title lang" key="loggmtitle"></h1>
	</header>	
<style>
.nibox{text-align:center;padding:6px;margin:6px;font-size:16px;background-color:#fff;border-radius:8px;border 1px solid ##D5E9FF}
.nibox span{font-size:14px;color:#6490C0}
.bb{border:0px;background-color:#EBE9EB;padding:5px;color:#fff}
.tr-top{font-size:20px;margin-top:30px;font-weight:normal;padding:10px;}
</style>
	<div class="mui-content">
		


		<div class="gg-main p-lr">
		<!--{foreach($info as $k=>$v):}-->
			<div class="wdqz-box mui-radius-8 box-shadow mt-15">
				
				<div class="wdqz-list">
					<div class="wdqz-list-left">
					    <!--{if($v['leixing']==1):}-->
						<h3 class="lang" key="logzy"></h3>
						<!--{else:}-->
						<h3>#{$v['bianhao']}</h3>
						<!--{endif;}-->
						<p>{$v["shijian"]}</p>
						<p><span class="lang" key="logamount"></span>：{floatval($v["amount"])} GCM</p>
					</div>
					<div class="wdqz-list-right">
						<p style="color:#000;text-align:right"><span class="lang" key="logprice"></span>：<span style="font-family: Georgia; font-size: 16px;">{floatval($v["price"])}</font> sats</p>
						<p></p>
						<p style="text-align:right;color:green"><span class="lang" key="logtotal"></span>：{floatval($v["btc"])} btc</p>

					</div>
				</div>
					
			</div>
			<!--{endforeach;}-->

			<div class="fenye mat10">{$db->page->html}<div class="clear"></div></div>
		</div>

		
	</div><!--mui-content end-->
	
<script src="/main/js/langmarket.js" type="text/javascript"  charset="gb2312"></script>

		<script src="/main/maintemp/js/mui.min.js"></script>
		<script src="/main/maintemp/js/common.js"></script>
		<script src="/main/maintemp/js/indexmain.js"></script>
		<link rel="stylesheet" href="{$pe['host_root']}public/plugin/jqweui/weui.min.css">
        <link rel="stylesheet" href="{$pe['host_root']}public/plugin/jqweui/jquery-weui.minb.css">
<!--{include(pe_tpl('footer.html'));}-->	


