<nav class="mui-bar mui-bar-tab i-footer" id="nav">
			<a class="mui-tab-item" id="a1" href="user.php?mod=assets&act=in">
				<span class="mui-icon i-foot-icon1"></span>
				<span class="mui-tab-label"><p class=lang key=footone></p></span>
			</a>
			<a class="mui-tab-item" id="a2" href="user.php?mod=wallet">
				<span class="mui-icon i-foot-icon2"></span>
				<span class="mui-tab-label"><p class=lang key=foottwo></p></span>
			</a>
			<a class="mui-tab-item" id="a3" href="user.php?mod=market">
				<span class="mui-icon i-foot-icon3"></span>
				<span class="mui-tab-label"><p class=lang key=footthree></p></span>
			</a>
			<a class="mui-tab-item mui-active" id="a4" href="user.php?mod=my">
				<span class="mui-icon i-foot-icon4"></span>
				<span class="mui-tab-label"><p class=lang key=footfour></p></span>
			</a>
</nav>