	
	<nav class="mui-bar mui-bar-tab i-footer" id="nav">
		<a class="mui-tab-item mui-active" id="a1" href="user.php?mod=main">
			<span class="mui-icon i-foot-icon1"></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item" id="a2"  href="user.php?mod=main&act=order">
			<span class="mui-icon i-foot-icon2"></span>
			<span class="mui-tab-label">投单</span>
		</a>
		
		<a class="mui-tab-item" id="a3"  href="user.php">
			<span class="mui-icon i-foot-icon3"></span>
			<span class="mui-tab-label">我的</span>
		</a>
	</nav>