<!DOCTYPE html>
<html>
<!--{include(pe_tpl('header.html'));}-->    
<script src="/main/temp/js/langmain.js" type="text/javascript"  charset="gb2312"></script>
	
	<header class="mui-bar mui-bar-nav i-header-bar">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="?mod=reginput"></a>
		<h1 class="mui-title"><font class=lang key=g STYLE="color:#ffffff"></font></h1>
		<a class="mui-icon mui-icon-right-nav mui-pull-right" href="#yuyan-pop">
			<img src="/main/temp/images/icon-en.png"/>
		</a>
	</header>	
	
	<div class="mui-content">
			<center><br>	
		<font style="padding:10px;font-size:16px" class=lang key=q></font>
		<br>	
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin White paper
				    </li>
				    <li>
                         <textarea id="biao1" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_whitepaper_en.docx</textarea>
                         <center><input type="button" onClick="copyUrl1()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin mechanism
				    </li>
				    <li>
                         <textarea id="biao2" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_mechanism_en.docx</textarea>
                         <center><input type="button" onClick="copyUrl2()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin finance
				    </li>
				    <li>
                         <textarea id="biao3" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_Finance_en.pptx</textarea>
                         <center><input type="button" onClick="copyUrl3()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin Operation process
				    </li>
				    <li>
                         <textarea id="biao4" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_operationProcess_en.pptx</textarea>
                         <center><input type="button" onClick="copyUrl4()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin Operation plan
				    </li>
				    <li>
                         <textarea id="biao5" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_operationplan_en.pptx</textarea>
                         <center><input type="button" onClick="copyUrl5()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	Audit company.pptx
				    </li>
				    <li>
                         <textarea id="biao55" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/Audit_company.pptx</textarea>
                         <center><input type="button" onClick="copyUrl55()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
		
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin 白皮書
				    </li>
				    <li>
                         <textarea id="biao6" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_whitepaper_tw.docx</textarea>
                         <center><input type="button" onClick="copyUrl6()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin 機制
				    </li>
				    <li>
                         <textarea id="biao7" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_mechanism_tw.docx</textarea>
                         <center><input type="button" onClick="copyUrl7()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin 金融
				    </li>
				    <li>
                         <textarea id="biao8" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_Finance_tw.pptx</textarea>
                         <center><input type="button" onClick="copyUrl8()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin 操作流程
				    </li>
				    <li>
                         <textarea id="biao9" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_operationProcess_tw.pptx</textarea>
                         <center><input type="button" onClick="copyUrl9()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
			<div class="my-listbox mui-radius-8 bg-fff mt-15 box-shadow" style="width:90%">
				<ul class="mui-table-view my-list">
				    <li style="padding:10px">
				        	MyDex、Mycoin 推薦方案
				    </li>
				    <li>
                         <textarea id="biao10" style="height:35px;line-height:15px;font-size:14px" readonly style="border:0px">https://www.mycoin.gold/down/MyDexMycoin_operationplan_tw.pptx</textarea>
                         <center><input type="button" onClick="copyUrl10()"  value="Copyed" style="background-color:#60BEFF;border:0px;height:35px" /></center><br>
				    </li>
				</ul>
			</div>
			
		</center>
		</div> <!--i-main end-->		
	</div><!--mui-content end-->
	<br><br>


<script type="text/javascript">
function copyUrl1()
{
var Url1=document.getElementById("biao1");
Url1.select();
document.execCommand("Copy"); 
alert("Copyed!");
}
function copyUrl2()
{
var Url2=document.getElementById("biao2");
Url2.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl3()
{
var Url3=document.getElementById("biao3");
Url3.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl4()
{
var Url4=document.getElementById("biao4");
Url4.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl5()
{
var Url5=document.getElementById("biao5");
Url5.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl55()
{
var Url55=document.getElementById("biao55");
Url55.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl6()
{
var Url6=document.getElementById("biao6");
Url6.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl7()
{
var Url7=document.getElementById("biao7");
Url7.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl8()
{
var Url8=document.getElementById("biao8");
Url8.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl9()
{
var Url9=document.getElementById("biao9");
Url9.select(); 
document.execCommand("Copy");
alert("Copyed!");
}
function copyUrl10()
{
var Url10=document.getElementById("biao10");
Url10.select(); 
document.execCommand("Copy");
alert("Copyed!");
}


</script>

</body>
</html>